
gitProject.xcodeproj/xcuserdata/mononos.xcuserdatad/xcschemes/xcschememanagement.plist

gitProject.xcodeproj/xcuserdata/mononos.xcuserdatad/xcschemes/gitProject.xcscheme

gitProject.xcodeproj/project.xcworkspace/xcuserdata/mononos.xcuserdatad/UserInterfaceState.xcuserstate

gitProject.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.DS_Store
